Repository XavierJece/lumia-website: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:eslint:check --file, pnpm lint:prettier:write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "pnpm lint:eslint:check --file",
    "pnpm lint:prettier:write"
  ],
  "*.{css,md,mdx,json}": ["pnpm lint:prettier:write"]
}

chore: update husky to pnpm
  .husky/pre-commit
Due: none

chore: fix lint-staged config
  .lintstagedrc.json
Due: pnpm lint:prettier:write

chore: stabilize lint-staged command
  .lintstagedrc.json
Due: pnpm lint:prettier:write

feat: extend tailwind tokens for glassmorphism
  src/shared/styles/colors.css
  src/shared/styles/colors.ts
  tailwind.config.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat: apply global brand layout and accessibility base
  src/app/layout.tsx
  src/shared/components/Logo/Logo.tsx
  src/shared/styles/fonts.ts
  src/shared/styles/globals.css
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

style: format repository with prettier
  .eslintrc.json
  CONTRIBUTING.md
  README.md
  components.json
  src/shared/@types/navigation.ts
  src/shared/components/Button/Button.tsx
  src/shared/components/Card/Card.tsx
  src/shared/components/Form/FormField.tsx
  src/shared/components/Form/Input.tsx
  src/shared/components/Form/Label.tsx
  src/shared/data/footerContent.ts
  src/shared/data/headerContent.ts
  src/shared/hooks/useMediaQuery.ts
  src/shared/hooks/useTheme.ts
  tasks/prd-institutional-website/10_task.md
  tasks/prd-institutional-website/11_task.md
  tasks/prd-institutional-website/1_task.md
  tasks/prd-institutional-website/2_task.md
  tasks/prd-institutional-website/4_task.md
  tasks/prd-institutional-website/5_task.md
  tasks/prd-institutional-website/6_task.md
  tasks/prd-institutional-website/7_task.md
  tasks/prd-institutional-website/8_task.md
  tasks/prd-institutional-website/9_task.md
  tasks/prd-institutional-website/tasks.md
  tasks/prd-institutional-website/techspec.md
  tsconfig.json
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

chore: add glass tokens and animations
  src/shared/styles/tokens.ts
  tailwind.config.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat: add glass container and card components
  src/shared/components/ui/GlassCard.tsx
  src/shared/components/ui/GlassContainer.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat: enhance button variants with icons and loading
  src/shared/components/Button/Button.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat: add typography helpers and update style guide
  src/app/style-guide/page.tsx
  src/shared/components/Typography/Typography.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

chore: mark design system task complete
  tasks/prd-institutional-website/tasks.md
Due: pnpm lint:prettier:write

chore: create a cursor's command
  .cursor/commands/create-commit.md
Due: pnpm lint:prettier:write

chore(deps): install testing and ui libraries
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier:write

test: configure vitest
  vitest.config.ts
  vitest.setup.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(ui): add navigation-menu component
  src/shared/components/ui/navigation-menu.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(layout): implement responsive header/footer and global shell
  src/app/layout.tsx
  src/app/page.tsx
  src/shared/components/Footer/Footer.tsx
  src/shared/components/Header/Header.tsx
  src/shared/components/Logo/Logo.tsx
  src/shared/data/footerContent.ts
  src/shared/data/headerContent.ts
  src/shared/styles/globals.css
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(marketing): add marketing home and layouts
  src/app/(blog)/layout.tsx
  src/app/(marketing)/layout.tsx
  src/app/(marketing)/page.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

test(components): add header and footer tests
  src/shared/components/Footer/Footer.test.tsx
  src/shared/components/Header/Header.test.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

docs: update task tracking
  tasks/prd-institutional-website/tasks.md
Due: pnpm lint:prettier:write

feat(home): implement high-conversion home page components
  src/app/(marketing)/components/home/FeaturedServices.tsx
  src/app/(marketing)/components/home/Hero.tsx
  src/app/(marketing)/components/home/Home.test.tsx
  src/app/(marketing)/components/home/ImpactMetrics.tsx
  src/app/(marketing)/components/home/SocialProof.tsx
  src/app/(marketing)/page.tsx
  tasks/prd-institutional-website/5_task.md
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

refactor: update icons
  public/logos/a.png
  public/logos/a_icon-color.svg
  public/logos/a_icon-light.svg
  src/app/icon.svg
Due: none

build: add new MCP
  .cursor/mcp.json
Due: pnpm lint:prettier:write

feat(config): add constants and update Next.js image configuration
  next.config.js
  src/shared/config/constants.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(ui): update shared components and design tokens
  src/shared/components/Button/Button.tsx
  src/shared/components/ui/GlassCard.tsx
  src/shared/styles/tokens.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(assets): add home page images
  public/images/team_debate_EGS.webp
  public/images/woman_in_meeting.jpg
  public/images/woman_in_meeting.webp
  public/images/woman_presents_ESG.webp
Due: none

feat(home): add new home page sections
  src/app/(marketing)/components/home/AboutSummary.tsx
  src/app/(marketing)/components/home/BlogPreview.tsx
  src/app/(marketing)/components/home/Clients.tsx
  src/app/(marketing)/components/home/FAQ.tsx
  src/app/(marketing)/components/home/LeadCapture.tsx
  src/app/(marketing)/components/home/Methodology.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(home): update Hero and FeaturedServices components
  src/app/(marketing)/components/home/FeaturedServices.tsx
  src/app/(marketing)/components/home/Hero.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(home): integrate new sections and remove SocialProof
  src/app/(marketing)/components/home/SocialProof.tsx
  src/app/(marketing)/page.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

docs(tasks): mark home page task as completed
  tasks/prd-institutional-website/tasks.md
Due: pnpm lint:prettier:write

feat: add services hub pages and CTAs
  src/app/(marketing)/components/home/Hero.tsx
  src/app/(marketing)/components/home/Home.test.tsx
  src/app/(marketing)/servicos/page.tsx
  src/app/(marketing)/servicos/planejamento/page.tsx
  src/app/(marketing)/servicos/urgente/page.tsx
  src/shared/components/services/ServicesTable.tsx
  src/shared/components/services/SolveNowSection.tsx
  src/shared/components/services/StartHereSection.tsx
  src/shared/components/services/index.ts
  tasks/prd-institutional-website/6_task.md
  tasks/prd-institutional-website/tasks.md
  test/services/services-sections.test.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(about): add about page hero team certifications and tests
  src/app/(marketing)/sobre/components/CertificationsGrid.tsx
  src/app/(marketing)/sobre/components/HeroAbout.tsx
  src/app/(marketing)/sobre/components/StorySection.tsx
  src/app/(marketing)/sobre/components/TeamGrid.tsx
  src/app/(marketing)/sobre/page.tsx
  src/shared/data/aboutContent.ts
  tasks/prd-institutional-website/tasks.md
  test/unit/about/AboutPage.test.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(prismic): add client, preview endpoints, and ISR webhook
  package.json
  pnpm-lock.yaml
  src/app/api/exit-preview/route.ts
  src/app/api/preview/route.ts
  src/app/api/revalidate/route.ts
  src/shared/lib/prismicio.ts
  src/shared/types/prismic.ts
  tasks/prd-institutional-website/tasks.md
  test/unit/prismic/prismicio.test.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

chore: update command `create-commit`
  .cursor/commands/create-commit.md
Due: pnpm lint:prettier:write

feat(blog): add listing page with filters
  src/app/(blog)/[slug]/page.tsx
  src/app/(blog)/error.tsx
  src/app/(blog)/loading.tsx
  src/app/(blog)/not-found.tsx
  src/app/(blog)/page.tsx
  src/shared/components/blog/AuthorInfo.tsx
  src/shared/components/blog/BlogCard.tsx
  src/shared/components/blog/BlogContent.tsx
  src/shared/components/blog/BlogFilters.tsx
  src/shared/components/blog/BlogShareButtons.tsx
  tasks/prd-institutional-website/tasks.md
  test/unit/blog/BlogFilters.test.tsx
  test/unit/blog/blog-metadata.test.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(deps): add framer-motion animation library
  package.json
  pnpm-lock.yaml
Due: pnpm lint:prettier:write

feat(home): add WhatsApp preset message and shared interfaces
  src/app/(marketing)/components/home/types.ts
  src/shared/config/constants.ts
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

docs(tasks): mark task 1.0 project setup as completed
  tasks/prd-home-page-refresh/01_task.md
  tasks/prd-home-page-refresh/tasks.md
Due: pnpm lint:prettier:write

feat(home): update impact metrics component
  src/app/(marketing)/components/home/Home.test.tsx
  src/app/(marketing)/components/home/ImpactMetrics.tsx
  tasks/prd-home-page-refresh/03_task.md
  tasks/prd-home-page-refresh/tasks.md
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write

feat(home): add sequential animation to metrics and fix tests
  src/app/(marketing)/components/home/Hero.test.tsx
  src/app/(marketing)/components/home/Hero.tsx
  src/app/(marketing)/components/home/Home.test.tsx
  src/app/(marketing)/components/home/ImpactMetrics.tsx
Due: pnpm lint:eslint:check --file, pnpm lint:prettier:write
